p {
  padding: 0px 0px 70px 0px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  text-align: center;
  position: fixed;
}
